body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 0;
    margin: 0;
}

.column:hover {
    background-color: lightblue;
}

.container {
    display: inline-flex;
    flex-direction: row;
    width: 700px;
    height: 600px;
    box-sizing: border-box;
    border: black 2px solid;
}

.column {
    display: inline-flex;
    flex-direction: column-reverse;
    min-height: 462px;
    min-width: 77px;
    border: 1px solid blue;
}

 .red {                           /*specified red and black for classes so that I can assign them in javascript */
    background: red;
    border-radius: 50%;
    border: 1px solid black;
    width: 75px;
    height: 75px;
}

.black {                         /*specified red and black for classes so that I can assign them in javascript */
    background: black;
    border-radius: 50%;
    border: 1px solid black;
    width: 75px;
    height: 75px;
}

#whosTurn {
    display: flex;
    justify-content: center;
    
}